body {
  margin: 0;
  padding: 0;

}

.nav ul {
  list-style: none;
  background-color: #4D5788;
  text-align: center;
  padding: 5px;
  margin: 0;
  z-index:4;
}

.nav li {
  font-family: "Oswald", sans-serif;
  font-size: 1em;
  line-height: 40px;
  text-align: left;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding-left: 15px;
  border-bottom: 1px solid #888;
  transition: .3s background-color;
  font-size: 1.2em;
}

.nav a:hover {
  background-color: #A05580;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.nav a.active {
  background-color: #fff;
  color: #A05580;
  cursor: default;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

/* Sub Menus */
.nav li li {
  font-size: 0.8em;
  text-align: center;
  text-indent: -15px;


}

h2 {
  font-family: "Snell Roundhand", sans-serif;
  text-align: center;
  font-size: 85px;
  border-style: dotted;
  border-width: 5px;

}
p1 {
  font-family: "Oswald", sans-serif;
  font-weight:;
  font-size:200%;
}

p2 {
  font-family: "Oswald", sans-serif;
}

p3 {
  font-family: "Oswald", sans-serif;
  font-weight:;
  font-size:200%;
}

p4 {
  font-family: "Oswald", sans-serif;
}

.container {
  text-align: center;
}

#backgrIMG {
 position: absolute;
  height: 200%;
  width: 100%;
   background-repeat: no-repeat;
  //overflow:visible;
    //background-size: 1500px 260px;
  z-index: 2;
}
.container{
 position: relative;
 z-index: 2;
 padding-top: 2%;
}


#grandplace {
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  z-index: 2;
  margin:auto;
  display:block;
  border: 1px solid black;
  box-sizing: border-box;

}

#waffle {
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  z-index: 2;
  margin:auto;
  border: 1px solid black;
  box-sizing: border-box;
}

#chips {
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  z-index: 2;
  margin:auto;
  border: 1px solid black;
  box-sizing: border-box;
}

#chocolate {
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  z-index: 2;
  margin:auto;
  border: 1px solid black;
  box-sizing: border-box;
}

/*******************************************
  cfg17travelwebsite.github.io Style menu for larger screens

   Using 650px (130px each * 5 items), but ems
   or other values could be used depending on other factors
********************************************/

@media screen and (min-width: 650px) {
  .nav li {
    width: 130px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    display: inline-block;
    margin-right: -4px;
  }

  .nav a {
    border-bottom: none;
  }

  .nav > ul > li {
    text-align: center;

  }

  .nav > ul > li > a {
    padding-left: 0;
  }

  /* Sub Menus */
  .nav li ul {
    position: absolute;
    display: none;
    width: inherit;
  }

  .nav li:hover ul {
    display: block;
    position:absolute;
    float:left;
  }

  .nav li ul li {
    display: block;
  }
}